html
{
    width: 100%;
    margin: 0;
    padding: 0;
    font: 16px 'PT Sans', sans-serif;
    color: #000;
}

body
{
    margin: 0;
    padding: 0;
}

#originalImage__regionCursor,
#originalImage__domainCursor,
#compressedImage__regionCursor
{
    display: none;
    position: absolute;
    top: 2.5rem;
    left: 2rem;
    width: 3px;
    height: 3px;
    /* width: 7px; */
    /* height: 7px; */
    border: 1px solid #0f0;
}

#originalImage__domainCursor
{
    width: 7px;
    height: 7px;
    /* width: 15px; */
    /* height: 15px; */
    border-color: #f00;
}

#originalImage__performanceType
{
    display: none;
    position: absolute;
    top: 1rem;
    left: 2rem;
    width: 256px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: .75rem;
    line-height: 1.5rem;
    font-style: italic;
    color: #888;
}

main
{
    display: flex;
    flex-direction: column;
    min-width: 740px;
    margin: 0 auto;
    padding: 0;
}

.creatingPoint,
.interpolation
{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 4rem 2rem 6rem;
}

.creatingPoint
{
    background-color: rgba(0,17,17, .03);
}

.creatingPoint__header,
.interpolation__header
{
    width: 100%;
    margin: 0 0 2rem;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: normal;
    color: #abb;
}

.imageArea
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 256px;
    margin: 0 auto;
    padding: 2.5rem 2rem 2rem;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0, .25);
}

#originalImage,
#processedImage
{
    margin-right: 0;
}

#compressedImage,
#interpolatedImage
{
    margin-left: 4rem;
}

.imageArea__canvas
{
    width: 256px;
    height: 256px; 
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

.imageArea__button
{
    margin: 1.25rem 0 0;
    cursor: pointer;
}

.imageArea__link
{
    margin: 1rem 0 0;
    padding: 0;
    font-size: .75rem;
    font-style: italic;
    color: #080;
    cursor: pointer;
}

.imageArea__link:hover
{
    color: #0a0;
}

#compressedImage__downloadData
{
    display: none;
}

#interpolatedImage__canvas1
{
    display: block;
}

#interpolatedImage__canvas2
{
    display: none;
}
